
{% extends 'base.html' %}

{% block title %} Registertion {% endblock %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style>
          body{
             background:#555;
font-family: "Times New Roman", Times, serif;
             font-size: 12pt;
             font-weight: bold;
            color : #db7093;
          }
      h5
      { font-family: "Times New Roman", Times, serif;
             font-size: 17pt;
            border-bottom: 4px solid #808080;
             font-weight: bold;
            color : #db7093;
      }

        </style>
<section class="vh-200 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-19 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 20px;">
          <div class="card-body p-6 p-md-5">
            <h5 class="mb-4 pb-2 pb-md-10 mb-md-10">Registration Form</h5>
            <form  action="{% url 'signup'%}" method="post">
              {% csrf_token %}


    <p>
              <div class="row">
                <div class="col-md-5 mb-5">
                  <div class="form-outline">
                    <label class="form-label" >user name</label>
                  {{form.username}}
                    <small style="color:#555"">{{ form.username.help_text }}</small>
                       {% for error in form.username.errors %}
        <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                  </div>
                </div>

                  <div class="col-md-5 mb-5">
                    <div class="form-outline">
                      <label class="form-label" >First Name</label>
                        {{form.firstname}}
                      <small style="color: grey">{{ field.help_text }}</small>
                         {% for error in form.firstname.errors %}
                        <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                    </div>
                  </div>

                  <div class="col-md-5 mb-5">
                    <div class="form-outline">
                      <label class="form-label" >Last Name</label>
                  {{form.lastname}}
                      <small style="color: grey">{{ field.help_text }}</small>
                         {% for error in form.lastname.errors %}
                        <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                    </div>
                  </div>

                 <div class="col-md-5 mb-5">
                   <div class="form-outline">
                    <label class="form-label" >Email</label>
                    {{form.email}}
                     <small style="color:#555"">{{form.email.help_text }}</small>
                        {% for error in form.email.errors %}
                       <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                  </div>
                </div>

                <div class="col-md-5 mb-5">
                  <div class="form-outline">
                    <label class="form-label">Password</label>
                    {{form.password1}}
                    <small style="color:#555"">{{ form.password1.field.help_text }}</small>
                       {% for error in form.password1.errors %}
                      <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                  </div>
                </div>

                <div class="col-md-5 mb-5">
                  <div class="form-outline">
                    <label class="form-label">Confirm password</label>
                    {{form.password2}}
                    <small style="color: #555">{{ form.password2.help_text }}</small>
                       {% for error in form.password2.errors %}
                      <p style="color:#cc0000" >{{ error }}</p>
               {% endfor %}
                     <p style="color: red">{{ error }}</p>
                  </div>
                </div>
              </div>
            <div><input class="btn btn-primary " type="submit"></div>


              </form>
<!--{% for field in form %}-->

<!--    <p>-->
<!--      {{ field.label_tag }}<br>-->
<!--      {{ field }}-->

<!--      {% for error in field.errors %}-->
<!--        <p style="color:#cc0000" >{{ error }}</p>-->
<!--      {% endfor %}-->
<!--    </p>-->
<!--  {% endfor %}-->
<!-- <input class="btn btn-primary " type="submit">-->
<!--            </form>-->
          </div>
        </div>

            </div>
          </div>
          </div>
        </div>

</section>

{% endblock %}


